[Unit]
Description=Nanobox.io endpoint adapter

[Service]
ExecStart=/usr/bin/php /srv/nanobox-endpoint/bin/console server:run --env=prod --no-debug
Restart=on-failure

[Install]
WantedBy=multi-user.target